.container
  = haml :search

%div{id: 'briefs'}
  #html-summary
    %h3 Page Summary
    %ul
    - locals[:summary].each do |element, count|
      %li{class: 'selectable', id: "#{element}-tag"}= "#{element}: #{count}"

  #html-source-container
    %h3 Source Code
    #source-code
      %xmp{class: 'prettyprint linenums'}
        = locals[:body].lstrip
