.container
  = haml :search

%div{id: 'briefs'}
  #html-summary
    %h3 Summary of HTML Source Code Tags
    %ul
    - locals[:summary].each do |element, count|
      %li{class: 'selectable pill', id: "#{element}-tag"}= "#{element}: #{count}"

  #html-source-container
    %h3 Source Code
    #source-code
      %xmp{class: 'prettyprint'}
        = locals[:body].to_xhtml(indent: 2)

%script{src: 'https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'}
